
<h3>{{ 'press.title' | translate }}</h3>
<i></i>
<div>
  <span>{{ 'press.item1.line1' | translate }}</span>
  <p>{{ 'press.item1.line2' | translate }}</p>
  <a href="{{ 'press.item1.line3' | translate }}">{{ 'press.item1.line3' | translate }}</a>
</div>
<div>
  <span>{{ 'press.item2.line1' | translate }}</span>
  <p>{{ 'press.item2.line2' | translate }}</p>
  <a href="{{ 'press.item2.line3' | translate }}">{{ 'press.item2.line3' | translate }}</a>
</div>
<div>
  <span>{{ 'press.item3.line1' | translate }}</span>
  <p>{{ 'press.item3.line2' | translate }}</p>
  <a href="{{ 'press.item3.line3' | translate }}">{{ 'press.item3.line3' | translate }}</a>
</div>
<div>
  <span>{{ 'press.item4.line1' | translate }}</span>
  <p>{{ 'press.item4.line2' | translate }}</p>
  <a href="{{ 'press.item4.line3' | translate }}">{{ 'press.item4.line3' | translate }}</a>
</div>

