<h3>{{ 'about.title' | translate }}</h3>
<i></i>
<img src="assets/images/profile_elenamarotomartin.png" alt="Elena Maroto Martin">
<div>
    <a href="https://www.linkedin.com/in/elenamarotomartin/?originalSubdomain=es">
        <img src="/assets/icons/linkedin.svg" alt="Linkedin">
    </a>
    <a href="https://munshilab.dfci.harvard.edu/staff-members/">
        <img src="/assets/icons/harvard.svg" alt="Harvard">
    </a>
    <a href="">
        <img src="/assets/icons/mit.svg" alt="MIT">
    </a>
    <a href="https://www.researchgate.net/profile/Elena-Maroto-Martin">
        <img src="/assets/icons/researchgate.svg" alt="Research Gate">
    </a>
</div>
<p>{{ 'about.line1' | translate }}</p>
<p>{{ 'about.line2' | translate }}</p>
<p>{{ 'about.line3' | translate }}</p>
<p>{{ 'about.line4' | translate }}</p>
<p>{{ 'about.line5' | translate }}</p>
