@import '../../../colors';

:host {
    display: flex;
    flex-direction: column;
    > img {
        width: 65%;
        align-self: center;
    }
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 6rem 3rem;
        > a {
            outline: 0;
            transition: all .25s ease;
            > img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: 0 0 3px rgba($text-dark-color, .5);
            }
            &:hover {
                transform: scale(1.1);
                transition: all .25s ease;
            }
        }
    }
}
