html,body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lavender;
    > h1 {
        font-size: 3rem;
        text-align: center;
        font-family: math;
        color: dimgray;
        max-width: 800px;
    }
}