@import '../../../colors';

:host {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba($text-light-color, .75);
    backdrop-filter: blur(5px);
    height: 60px;
    > h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: $primary-color;
        margin: 0 0 0 5%;
    }
    > nav {
        > svg {
            width: 40px;
            margin: 0 2rem 0 0;
            fill: $primary-color;
        }
    }
}




