
<h3>{{ 'competencies.title' | translate }}</h3>
<i></i>
<div>
  <p>{{ 'competencies.item1.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item1.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item2.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item2.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item3.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item3.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item4.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item4.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item5.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item5.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item6.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item6.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item7.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item7.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item8.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item8.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item9.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item9.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item10.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item10.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item11.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item11.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item12.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item12.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item13.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item13.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item14.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item14.tags' | translate">{{ tag }}</span>
  </div>
</div>
<div>
  <p>{{ 'competencies.item15.line1' | translate }}</p>
  <div>
    <span *ngFor="let tag of 'competencies.item15.tags' | translate">{{ tag }}</span>
  </div>
</div>

