
<h3>{{ 'competencies.title' | translate }}</h3>
<i></i>
<div>
  <p>{{ 'competencies.item1.line1' | translate }}</p>
</div>
<div>
  <p>{{ 'competencies.item2.line1' | translate }}</p>
  <p>{{ 'competencies.item2.line2' | translate }}</p>
</div>
<div>
  <p>{{ 'competencies.item3.line1' | translate }}</p>
  <p>{{ 'competencies.item3.line2' | translate }}</p>
</div>
<div>
  <p>{{ 'competencies.item4.line1' | translate }}</p>
  <p>{{ 'competencies.item4.line2' | translate }}</p>
</div>
<div>
  <p>{{ 'competencies.item5.line1' | translate }}</p>
  <p>{{ 'competencies.item5.line2' | translate }}</p>
</div>
<div>
  <p>{{ 'competencies.item6.line1' | translate }}</p>
  <p>{{ 'competencies.item6.line2' | translate }}</p>
</div>

