@import '../../../colors';

:host {
    display: flex;
    flex-direction: column;
    > div:nth-of-type(1) {
        height: 18vh;
        background-color: $text-light-color;
        z-index: 1;
    }
    > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        min-height: 82vh;
        > img:nth-of-type(1) {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
        }
        > img:nth-of-type(2) {
            display: none;
        }
        > div {
            display: flex;
            flex-direction: column;
            background-color: $text-light-color;
            padding: 0 10vw;
            z-index: 1;
            > h2 {
                font-size: 4rem;
                font-weight: 600;
                margin: 0;
                color: $text-dark-color;
            }
            > p {
                font-size: 1.8rem;
                color: $text-dark-color;
            }
            > button {
                width: min-content;
                height: min-content;
                margin: 3rem 0 10rem 0;
                text-transform: uppercase;
                border: 2px solid $text-dark-color;
                font-size: 1.8rem;
                font-weight: 500;
                letter-spacing: 1px;
                color: $text-dark-color;
                white-space: nowrap;
                padding: 1rem 2rem;
                &:hover {
                    cursor: pointer;
                    background-color: $text-dark-color;
                    color: $text-light-color;
                }
            }
        }
    }
}

@media screen and (min-width: 552px) {
    :host {
        > div:nth-of-type(2) {
            > div {
                padding: 0 12.5vw;
                > button {
                    padding: 1.5rem 3rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    :host {
        > div:nth-of-type(1) {
            height: 25vh;
        }
        > div:nth-of-type(2) {
            min-height: unset;
            height: 75vh;
            > img:nth-of-type(1) {
                display: none;
            }
            > img:nth-of-type(2) {
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
            }
            > div {
                padding: 0 15vw;
                > button {
                    margin: 3rem 0 12.5rem 0;

                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    :host {
        > div:nth-of-type(1) {
            height: 35vh;
        }
        > div:nth-of-type(2) {
            height: 65vh;
            > div {
                padding: 0 17.5vw;
                >p {
                    font-size: 2.4;
                }
            }
        }
    }
}
