
<h3>{{ 'congresses.title' | translate }}</h3>
<i></i>
<div>
  <span>{{ 'congresses.item1.line1' | translate }}</span>
  <p>{{ 'congresses.item1.line2' | translate }}</p>
  <p>{{ 'congresses.item1.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item2.line1' | translate }}</span>
  <p>{{ 'congresses.item2.line2' | translate }}</p>
  <p>{{ 'congresses.item2.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item3.line1' | translate }}</span>
  <p>{{ 'congresses.item3.line2' | translate }}</p>
  <p>{{ 'congresses.item3.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item4.line1' | translate }}</span>
  <p>{{ 'congresses.item4.line2' | translate }}</p>
  <p>{{ 'congresses.item4.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item5.line1' | translate }}</span>
  <p>{{ 'congresses.item5.line2' | translate }}</p>
  <p>{{ 'congresses.item5.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item6.line1' | translate }}</span>
  <p>{{ 'congresses.item6.line2' | translate }}</p>
  <p>{{ 'congresses.item6.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item7.line1' | translate }}</span>
  <p>{{ 'congresses.item7.line2' | translate }}</p>
  <p>{{ 'congresses.item7.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item8.line1' | translate }}</span>
  <p>{{ 'congresses.item8.line2' | translate }}</p>
  <p>{{ 'congresses.item8.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item9.line1' | translate }}</span>
  <p>{{ 'congresses.item9.line2' | translate }}</p>
  <p>{{ 'congresses.item9.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item10.line1' | translate }}</span>
  <p>{{ 'congresses.item10.line2' | translate }}</p>
  <p>{{ 'congresses.item10.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item11.line1' | translate }}</span>
  <p>{{ 'congresses.item11.line2' | translate }}</p>
  <p>{{ 'congresses.item11.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item12.line1' | translate }}</span>
  <p>{{ 'congresses.item12.line2' | translate }}</p>
  <p>{{ 'congresses.item12.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item13.line1' | translate }}</span>
  <p>{{ 'congresses.item13.line2' | translate }}</p>
  <p>{{ 'congresses.item13.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item14.line1' | translate }}</span>
  <p>{{ 'congresses.item14.line2' | translate }}</p>
  <p>{{ 'congresses.item14.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item15.line1' | translate }}</span>
  <p>{{ 'congresses.item15.line2' | translate }}</p>
  <p>{{ 'congresses.item15.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item16.line1' | translate }}</span>
  <p>{{ 'congresses.item16.line2' | translate }}</p>
  <p>{{ 'congresses.item16.line3' | translate }}</p>
</div>
<div>
  <span>{{ 'congresses.item17.line1' | translate }}</span>
  <p>{{ 'congresses.item17.line2' | translate }}</p>
  <p>{{ 'congresses.item17.line3' | translate }}</p>
</div>

