
<h3>{{ 'publications.title' | translate }}</h3>
<i></i>
<div>
  <span>{{ 'publications.item1.line1' | translate }}</span>
  <p>{{ 'publications.item1.line2' | translate }}</p>
  <p>{{ 'publications.item1.line3' | translate }}</p>
  <p>{{ 'publications.item1.line4' | translate }}</p>
</div>
<div>
  <span>{{ 'publications.item2.line1' | translate }}</span>
  <p>{{ 'publications.item2.line2' | translate }}</p>
  <p>{{ 'publications.item2.line3' | translate }}</p>
  <p>{{ 'publications.item2.line4' | translate }}</p>
</div>
<div>
  <span>{{ 'publications.item3.line1' | translate }}</span>
  <p>{{ 'publications.item3.line2' | translate }}</p>
  <p>{{ 'publications.item3.line3' | translate }}</p>
  <p>{{ 'publications.item3.line4' | translate }}</p>
</div>

