
<h3>{{ 'education.title' | translate }}</h3>
<i></i>
<div>
  <div>
    <p>{{ 'education.item1.line1' | translate }}</p> 
    <span>{{ 'education.item1.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item1.line3' | translate }}</p>
  <p>{{ 'education.item1.line4' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item2.line1' | translate }}</p> 
    <span>{{ 'education.item2.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item2.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item2.line1' | translate }}</p> 
    <span>{{ 'education.item2.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item2.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item3.line1' | translate }}</p> 
    <span>{{ 'education.item3.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item3.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item4.line1' | translate }}</p> 
    <span>{{ 'education.item4.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item4.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item5.line1' | translate }}</p> 
    <span>{{ 'education.item5.line2' | translate }}</span>
  </div>
  <p>{{ 'education.item5.line3' | translate }}</p>
</div>

