
<h3>{{ 'education.title' | translate }}</h3>
<i></i>
<div>
  <div>
    <p>{{ 'education.item1.line1' | translate }}</p> 
    <div>
      <i>{{ 'education.item1.line2' | translate }}</i>
      <span>{{ 'education.item1.type' | translate }}</span>
    </div>
  </div>
  <p>{{ 'education.item1.line3' | translate }}</p>
  <p>{{ 'education.item1.line4' | translate }}</p>
  <a [href]="'education.item1.line5' | translate">{{ 'education.item1.line5' | translate }}</a>
</div>
<div>
  <div>
    <p>{{ 'education.item2.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item2.line2' | translate }}</i>
      <span>{{ 'education.item2.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item2.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item3.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item3.line2' | translate }}</i>
      <span>{{ 'education.item3.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item3.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item4.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item4.line2' | translate }}</i>
      <span>{{ 'education.item4.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item4.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item5.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item5.line2' | translate }}</i>
      <span>{{ 'education.item5.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item5.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item6.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item6.line2' | translate }}</i>
      <span>{{ 'education.item6.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item6.line3' | translate }}</p>
</div>
<div>
  <div>
    <p>{{ 'education.item7.line1' | translate }}</p>
    <div>
      <i>{{ 'education.item7.line2' | translate }}</i>
      <span>{{ 'education.item7.type' | translate }}</span>
    </div> 
  </div>
  <p>{{ 'education.item7.line3' | translate }}</p>
</div>

