<div></div>
<ul>
  <li><a routerLink="/" fragment="home" (click)="handleMenuClick()">{{ 'home.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="about" (click)="handleMenuClick()">{{ 'about.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="honors" (click)="handleMenuClick()">{{ 'honors.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="publications" (click)="handleMenuClick()">{{ 'publications.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="congresses" (click)="handleMenuClick()">{{ 'congresses.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="press" (click)="handleMenuClick()">{{ 'press.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="experience" (click)="handleMenuClick()">{{ 'experience.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="education" (click)="handleMenuClick()">{{ 'education.title' | translate }}</a></li>
  <li><a routerLink="/" fragment="competencies" (click)="handleMenuClick()">{{ 'competencies.title' | translate }}</a></li>
</ul>
<div appLangs theme="dark"></div>
