
<h3>{{ 'honors.title' | translate }}</h3>
<i></i>
<div>
  <div>
    <span>{{ 'honors.item1.line1' | translate }}</span>
    <span>{{ 'honors.item1.line2' | translate }}</span>
  </div>
  <p>{{ 'honors.item1.line3' | translate }}</p>
  <p>{{ 'honors.item1.line4' | translate }}</p>
</div>
<div>
  <div>
    <span>{{ 'honors.item2.line1' | translate }}</span>
    <span>{{ 'honors.item2.line2' | translate }}</span>
  </div>
  <p>{{ 'honors.item2.line3' | translate }}</p>
  <p>{{ 'honors.item2.line4' | translate }}</p>
</div>

