@import 'main';

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    background-color: rgba($text-dark-color, 1);
    scroll-behavior: smooth;
    ::selection {
        background: $primary-color;
    }
}
body {
    overflow: auto;
}

h1, h3, h4, h5, h6, p, span, button, input, textarea {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: "DM Serif Text", serif;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: $text-dark-color;
    text-transform: uppercase;
    > span {
        font-weight: 100;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 6rem;
    }
}

h3 + i {
    background-color: rgba($primary-color, 1);
    width: 100px;
    height: 2px;
    margin: 1.5rem 0 2.5rem 0;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    color: $text-dark-color;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: $text-light-color;
}

::-webkit-scrollbar-thumb {
    background-color: $text-neutral-color;
    border-radius: 3px;
}
