
<h3>{{ 'experience.title' | translate }}</h3>
<i></i>
<div>
  <div>
    <p>{{ 'experience.item1.line1' | translate }}</p> 
    <span>{{ 'experience.item1.line2' | translate }}</span>
  </div>
  <p>{{ 'experience.item1.line3' | translate }}</p>
  <ul>
    <li>{{ 'experience.item1.points.point1' | translate }}</li>
    <li>{{ 'experience.item1.points.point2' | translate }}</li>
    <li>{{ 'experience.item1.points.point3' | translate }}</li>
    <li>{{ 'experience.item1.points.point4' | translate }}</li>
    <li>{{ 'experience.item1.points.point5' | translate }}</li>
    <li>{{ 'experience.item1.points.point6' | translate }}</li>
    <li>{{ 'experience.item1.points.point7' | translate }}</li>
    <li>{{ 'experience.item1.points.point8' | translate }}</li>
    <li>{{ 'experience.item1.points.point9' | translate }}</li>
    <li>{{ 'experience.item1.points.point10' | translate }}</li>
    <li>{{ 'experience.item1.points.point11' | translate }}</li>
    <li>{{ 'experience.item1.points.point12' | translate }}</li>
  </ul>
</div>
<div>
  <div>
    <p>{{ 'experience.item2.line1' | translate }}</p> 
    <span>{{ 'experience.item2.line2' | translate }}</span>
  </div>
  <p>{{ 'experience.item2.line3' | translate }}</p>
  <ul>
    <li>{{ 'experience.item2.points.point1' | translate }}</li>
    <li>{{ 'experience.item2.points.point2' | translate }}</li>
    <li>{{ 'experience.item2.points.point3' | translate }}</li>
    <li>{{ 'experience.item2.points.point4' | translate }}</li>
    <li>{{ 'experience.item2.points.point5' | translate }}</li>
    <li>{{ 'experience.item2.points.point6' | translate }}</li>
    <li>{{ 'experience.item2.points.point7' | translate }}</li>
  </ul>
</div>
<div>
  <div>
    <p>{{ 'experience.item3.line1' | translate }}</p> 
    <span>{{ 'experience.item3.line2' | translate }}</span>
  </div>
  <p>{{ 'experience.item3.line3' | translate }}</p>
  <ul>
    <li>{{ 'experience.item3.points.point1' | translate }}</li>
    <li>{{ 'experience.item3.points.point2' | translate }}</li>
    <li>{{ 'experience.item3.points.point3' | translate }}</li>
    <li>{{ 'experience.item3.points.point4' | translate }}</li>
    <li>{{ 'experience.item3.points.point5' | translate }}</li>
    <li>{{ 'experience.item3.points.point6' | translate }}</li>
    <li>{{ 'experience.item3.points.point7' | translate }}</li>
    <li>{{ 'experience.item3.points.point8' | translate }}</li>
    <li>{{ 'experience.item3.points.point9' | translate }}</li>
    <li>{{ 'experience.item3.points.point10' | translate }}</li>
    <li>{{ 'experience.item3.points.point11' | translate }}</li>
  </ul>
</div>
<div>
  <div>
    <p>{{ 'experience.item4.line1' | translate }}</p> 
    <span>{{ 'experience.item4.line2' | translate }}</span>
  </div>
  <p>{{ 'experience.item4.line3' | translate }}</p>
  <ul>
    <li>{{ 'experience.item4.points.point1' | translate }}</li>
    <li>{{ 'experience.item4.points.point2' | translate }}</li>
    <li>{{ 'experience.item4.points.point3' | translate }}</li>
    <li>{{ 'experience.item4.points.point4' | translate }}</li>
    <li>{{ 'experience.item4.points.point5' | translate }}</li>
  </ul>
</div>

<div>
  <div>
    <p>{{ 'experience.item5.line1' | translate }}</p> 
    <span>{{ 'experience.item5.line2' | translate }}</span>
  </div>
  <p>{{ 'experience.item5.line3' | translate }}</p>
  <ul>
    <li>{{ 'experience.item5.points.point1' | translate }}</li>
    <li>{{ 'experience.item5.points.point2' | translate }}</li>
    <li>{{ 'experience.item5.points.point3' | translate }}</li>
    <li>{{ 'experience.item5.points.point4' | translate }}</li>
  </ul>
</div>

